<header class="header">
  <nav class="navigation">
    <div class="logo">
      <img src="./../assets/capybara.svg" alt="" class="logo-img">
    </div>
    <ul class="list">
      <li class="list__item"><a href="" class="link">About me</a></li>
      <li class="list__item"><a href="" class="link">Experience</a></li>
      <li class="list__item"><a href="" class="link">Work</a></li>
      <li class="list__item"><a href="" class="link">Contact</a></li>
    </ul>
  </nav>
</header>
<main class="main">
  <div class="main-description">
    <h1 class="title--greeting">Greetings, dear friends!</h1>
    <h2 class="title--name">You can call me Guilherme Soares <span class="title--highlight">and also Capivara</span>.</h2>
    <h3 class="title--highlight-sentence">I convert ideas into web projects.</h3>
    <p class="resume">
      Front-end developer with experience in Angular, React.js, Next.js, Redux,
      NgRx, JavaScript, TypeScript, Styled Components and REST API integration.
      I also have experience in projects managed by Agile Methodologies.
      Graduated in Systems Analysis and Development from FATEC.
    </p>
  </div>
</main>
